.formContainer {
    padding: 2em 2em;
    display: flex;
    background: #fff;
    flex-direction: column;
    align-items: center;
    box-shadow: -3px -6px 14px 18px #eee;
}

.formContainer form {
    width: 50vw;
    justify-content: space-around;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.formContainer form input[type=submit] {
    width: 95%;
    padding: .3em 1em;
    font-size: 2vw;
    margin: 0 auto;
    border: none;
    background: #F1D065;
    color: white;
}

.container{
    margin: 1em;
}

#add{
    background: #81CE84;
}

